@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.squares {
    background-color: #82C5CD;
    width: 400px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    display:inline-flex;
    cursor: pointer;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin: 10px;

}


.squares_inner::selection {
    background:none;
    color:none;
}
