@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.buttons {
    background-color: #F7AC70;
    width:150px;
    height:40px;
    border-radius: 12px;
    box-shadow: 0px 8px 15px #F7AC70;
    display:inline-flex;
    cursor: pointer;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    margin: 10px;

}


.button_inner::selection {
    background:none;
    color:none;
}
