.btn {
    color: #000000;
    background: #ffffff;
    border: 1.5px solid #E2E4EB;
    height: 44px;
    width: 200px;
    margin: 0 16px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px;
}
