.btn01, btn02 {
    color: #000000;
    background: #ffffff;
    border: 0.5px solid #E2E4EB;
    height: 40px;
    width: 200px;
    margin: 0px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px;
}

