* {
    font-family: Helvetica, sans-serif;
}
     
.gamebtn01 {
    color: #000000;
    background: #ffffff;
    border: 1px solid #E2E4EB;
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px;
}

.gamebtn01:hover {
    background: #E2E4EB;
}

.gamebtn02 {
    color: #000000;
    background: #E2E4EB;
    border: 1px solid #E2E4EB;
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px;
}


.gamebtn02:hover {
    background: #ffffff;
}

/* .gamebtn01:hover {
    letter-spacing: 0.125rem;
} */



.gamebtn03 {
    color: #000000;
    background: #ffffff;
    font-size: 14px;
    border-radius: 30px;
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px;
    transition:0.4s;
    border:3px solid #F7AC70;
}

@keyframes hover {
    25% {
        border-left:3px solid #94CAD1;
    }
    50% {
         border-bottom:3px solid #94CAD1;
    }
    75% {
        border-right:3px solid #94CAD1;
    }
    100% {
        border-top:3px solid #94CAD1;
    }
}

.gamebtn03:hover {
    animation:hover 2s;
    animation-iteration-count:infinite;
}


.gamebtn04 {
    color: #000000;
    background: #ffffff;
    font-size: 14px;
    border-radius: 30px;
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px;
    transition:0.4s;
    border:3px solid #94CAD1;
}

@keyframes hover {
    25% {
        border-left:3px solid #F7AC70;
    }
    50% {
         border-bottom:3px solid #F7AC70;
    }
    75% {
        border-right:3px solid #F7AC70;
    }
    100% {
        border-top:3px solid #F7AC70;
    }
}

.gamebtn04:hover {
    animation:hover 2s;
    animation-iteration-count:infinite;
}
