.circleapp {
    width: 5em;
    height: 5em;
    border: 5px solid green;
    background-color: blueviolet;
    background-size: cover;
    border-radius: 20em;
    display: inline-block;
    margin: 10px;
}